@model TitleLeader.Models.UserRegistrationModels.UserMaster
<img class="img-icon img-circle" src="@Url.Action("GetProfilePhoto","Home")" style="height: 40px;width:40px;">
<span>Hi, @Model.Firstname @Model.Lastname</span>
